/*  basic setup */
*{
    box-sizing: border-box;
}
body{
    margin:0;
    background-color: #15314b;
}
.input-container{
    height: 15vh;
}
.task-container{
    height:85vh;
    color:white;
    text-align: center;
    font-family: 'Zen Dots', cursive;
}

.task{
    list-style: none;
    font-size: 1.25rem;
    background-color: blue;
   /*  backgound visible  */
    width:60vw;
    height: 3.5rem;
    padding: 1rem;
    margin:0 auto;
    margin-bottom: 0.5rem;

}
.input_box{
    font-family: 'Zen Dots', cursive;
    height: 60%;
    font-size: 1.25rem;
    margin-left: 26vw;
    display: block;
    margin:0 auto;
    margin-top: 3vh;
    width:40vw;
}
.instruction{
    font-size: 1.5rem;
}
/*  condition satisify */
@media screen and (max-width: 884px) {
   .input_box{
       width:60vw;
   }
  }




