body {
    margin: 0px;
    font-family: sans-serif;;
}

.header {
    height: 5rem;
    border-bottom: 2px solid gray;
}

.pimg {
    height: 20rem;
    width: 20rem;
    border-radius: 50%;
}

.main {
    /* border: 1px solid red */
    display: flex;
    height: calc(100vh - 10rem);
    align-items: center;
    justify-content: space-evenly;
}
.details {
    text-align: center;
    margin-top:6rem;
}
.content{
    line-height:1.5;
    font-size:1.5rem;
    color: grey;
}
.main>* {
    height: 80%;
    width:40%;
}

.bold_text{
    font-weight: bold;
    color:black;
}