/* basic css  */
* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

/* specific height */
.menu_bar {
    border: 1px solid gray;
    height: 3rem;
    /* background-color: lightblue; */
}

.formula_container {
    border: 1px solid gray;
    height: 2rem;
    /* background-color: lightgreen; */
}

.sheets_container {
    border: 1px solid gray;
    height: 2rem;
    background-color: lightsalmon;
}





/* grid -> remaining height */
.grid_container {
    border: 1px solid gray;
    height: calc(100vh - 7rem);
    /* background-color: lightgrey; */
}

.cell {
    border: 0.5px solid gray;
    height: 2rem;
    width: 5rem;
}

.left_col>* {
    width: 2rem;
    text-align: center;
    padding-top: 0.2rem;
}

.top_row {
    display: flex;
}

.top_row>.cell {
    padding-top: 0.2rem;
    min-width: 5rem;
    text-align: center;

}