.trending_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-inline-start: 1rem;
}
.trending_box>*{
    text-align: center;
}
.poster_box {
    width: 30%;
    height: 30rem;
    /* border: 1px solid gray; */
    margin-bottom: 1rem;
    ;
}

.poster_img {
    height: 80%;
}
