*{
    box-sizing: border-box;
}
body{
    margin:0px;
}
.video-container{
    background-color: black;
    width:100vw;
    height: 100vh;
}
.video{
    height: 100%;
    width:100%;
}
.round-btn{
    height: 5rem;
    position: fixed;
    width: 5rem;
    top: 30%;
    right: 26px;
    border-radius: 50%;
    z-index:4;
}
.click-image{
    top: 45%;  
}
.filter_overlay{
    height: 100vh;
    width: 100vw;
    position: fixed;
    left: 0px;
    top: 0px;
    /* background-color: #ffebcd73; */
    z-index: 2;
}
.filter_btn-container{
    height: 17rem;
    width: 7rem;
    position: fixed;
    top: calc( (100vh - 17rem)/2);
    left: 10vw;
    background-color: red;
    z-index:4
}
.filter{
    height: 20%;
    border: 1px solid;
    /* background-color , background-image will be blended */
    background-blend-mode: color-burn;
    background-image: url(https://picsum.photos/200/300);
    /* width of the background image */
    background-size: 100%;
}

