*{
    box-sizing: border-box;
}
body{
    margin:0px;
    overflow: hidden;
}
.video-container{
    background-color: black;
    width:100vw;
    height: 100vh;
}
.video{
    height: 100%;
    width:100%;
   /* transform: scale(1.5); */
}
.btn-container{
    padding-top: 10px;
    text-align: center;
    z-index: 4;
    position: fixed;
    top: 30%;
    right: 26px;
    height: 6rem;
    width: 6rem;
    background: black;
    border-radius: 50%;
    border: 0.5rem solid white;
    /* display: flex; */
}
.round-btn{
    height: 3.7rem;
    width: 3.7rem;
    border-radius: 50%;
    border:none;
    outline: none;
}
.position-top{
    top: 45%;  
}
.record{
    background-color: red;
}

.record-animation{
    animation: scaleUp 1s ;
    animation-iteration-count: infinite;
}

@keyframes scaleUp {
    0%{
        transform: scale(1);
    }
   50%{
    transform: scale(1.08);
   }
    100%{
        transform: scale(1);
    }
    
}
.filter_overlay{
    height: 100vh;
    width: 100vw;
    position: fixed;
    left: 0px;
    top: 0px;
    /* background-color: #ffebcd73; */
    z-index: 2;
}
.filter_btn-container{
    height: 17rem;
    width: 7rem;
    position: fixed;
    top: calc( (100vh - 17rem)/2);
    left: 10vw;
    background-color: red;
    z-index:4
}
.filter{
    height: 20%;
    border: 1px solid;
    /* background-color , background-image will be blended */
    background-blend-mode: color-burn;
    background-image: url(https://picsum.photos/200/300);
    /* width of the background image */
    background-size: 100%;
}
.timing{
    color: white;
    font-weight: bolder;
    font-size: 1.5rem;
    position: fixed;
    bottom: 17vh;
    left: 10vw;
    display: none;
    z-index: 6;
}

/* zoom in zoom out  */

.zoom-parent{
    width: 2.75rem;
    position: fixed;
    top: 12%;
    right: 61px;
    border: 1px solid;
    background-color: #444;
    height: 6rem;
    border-radius: 6px;
    z-index:6;
}
.zoom-parent > *{
    height: 50%;
    /* border-bottom: 1px solid white; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon{
    font-size: 140%;
    color:white;
}



