* {
    box-sizing: border-box;  
}
body {
    margin: 0px;
}
/* ***************menu container*************/
.menu-container {
    /* border: 1px solid red; */
    height: 3rem;
    background-color: lightpink;
    align-items: center;
    display: flex;
    gap:0.5rem;
    padding-left:0.5rem;
}
.menu-container *{
    border: 1px solid;
    height:60%;
}
.font-size{
    width:5%;
}
.font-family{
    width:21%;
}
.bui-container{
    width:21%;
    display:flex;
    justify-content:space-around;
    align-items:center;
}
.bui-container>*{
    width:30%;
    height:80%;
    text-align: center;
}
.align-container{
    min-width:14%;
}
.color-container{
    min-width:10%;
}











/************ formula container *************/
.formula-container {
    /* border: 1px solid red; */
    height: 2rem;
    /* background-color: lightcoral; */
    display:flex;
    align-items:center;
    justify-content:space-around;
}
.formula-container>*{
    height:70%;
}
.address-input{
width:4rem;
}
.formula-input{
    width:calc(100vw - 6rem);
}
/* ********formula container */
.grid-container {
    position: relative;
    /* border: 1px solid red; */
    height: 
    calc(100vh - ( 3rem + 2rem + 2rem));
    background-color: lightgreen;
    overflow: auto;
}
.box{
    height: 2rem;
    width:2rem;
    border:1px solid;
    text-align: center;
}
.left_box{
    background-color:gray;
}
.top_row{
    left: 2rem;
    top: 0rem;
    position: absolute;
    height:2rem;
   /* background-color:green; */
   display:flex;
}
.grid{
    /* height:2rem; */
    background-color:lightblue;
    left: 2rem;
    top: 2rem;
    position: absolute;
}
.cell{
    border: 1px solid;
    min-width: 5rem;
    text-align: center;
    height:2rem;
}

.row{
    display:flex;
}
/* sheets */
.sheets-container {
    /* border: 1px solid red; */
    background-color: lightblue;
    height: 2rem;
    display: flex;
}
.add-sheet_btn-container {
    width: 3rem;
    border: 1px solid;
    height: 100%;
    padding-top: 0.2rem;
    padding-left: 0.3rem;
}
.sheet-list {
    width: calc(100vw - 3rem);
    border: 1px solid;
    display:flex;
    overflow: auto;
}
.sheet-list::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .sheet-list {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
.sheet {
    min-width: 5rem;
    border: 1px solid blue;
    height: 100%;
    background-color: gray;
}
.active{
    background-color:white;
}
.active-btn{
    background-color:red;
}

/* new open save */
.nos-container>*{
    border:none;
}

