*{box-sizing: border-box;}
body{
    margin:0px;
}
.video-container{
    height: 100vh;
    width:100vw;
    background-color: black;
}
.video{
    height: 100%;
    width:100%;
}
.record-btn{
    position: fixed;
    height: 5rem;
    width: 5rem;
    top: 1rem;
    z-index: 2;
    border-radius: 50%;
    right: 4vw;
    top: 34vh;
}