*{
    box-sizing: border-box;
}
body{margin:0px;}
.menu_bar{
    /* border: 2px solid red; */
    background-color:lightblue;
    height:5rem;}
.formula_bar{
    background-color:lightpink;
    height:2rem;
}
.sheets_container{
    background-color:lightgoldenrodyellow;
    height:2.5rem;
}
.grid_container{
 height:calc(100vh - ( 5rem + 2rem + 2.5rem) );
    background-color:lightgreen;
}
.top_row{

    text-align: center;
}
.cell{
    border:2px solid gray;
    height:2rem;
    width:5rem;
}
