/* basic resets */
body {
    margin: 0px;
}
* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    /*to remove underline in anchor*/
}
li {
    list-style: none;
    /*to remove dot in front of li elements*/
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: red
}

a:active {
    color: red;
}
a {
    font-size: 1.2rem;
    font-weight: bolder;
}
/* responsive */
/* footer tag */
footer {
    /* vertically center */
    height: 5rem;
    text-align: center;
    background-color: black;
    color: white;
    /* boldness */
    font-weight: 500;
    font-size: 1.5rem;
    /* enforce uppercase */
    text-transform: uppercase;
}