.main {
    font: 200% $font-stack;
    color: $secondary-color;
}

.card {
    @include flex-container;
    font: 200% $font-stack;
}

.info {
  @include customToaster
}

.alert {
    @include customToaster($toastTheme:"DarkRed");
}

.success {
    @include customToaster($toastTheme:"DarkGreen")
}